.challenges-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  margin-bottom: 20px;
}

.table-container {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.table {
  min-width: 650px;
}

.MuiTableCell-head {
  font-weight: bold;
  background-color: #f5f5f5;
}

.MuiTableCell-body {
  padding: 16px;
}

.MuiTableRow-root:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.dialog-title {
  font-weight: bold;
}

button {
  margin: 20px 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.MuiDialogTitle-root {
  padding-bottom: 0;
}

.MuiDialogContent-root {
  padding-top: 0;
}

.MuiButton-containedPrimary {
  background-color: #1976d2;
  color: #fff;
}
