.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="date"], .form-group input[type="number"], .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.students-count {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.filiere-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filiere-group input[type="text"], .filiere-group input[type="number"] {
    margin-right: 10px;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.styled-button {
    background-color: #7b1fa2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 20px auto 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-button:hover {
    background-color: #4a148c;
}
